/* the viewport property is here to make sure the device (mobile) won't zoom out too present the desktop version */
/* http://webdesign.tutsplus.com/articles/quick-tip-dont-forget-the-viewport-meta-tag--webdesign-5972 */
@viewport{
    zoom: 1.0;
    /*noinspection CssInvalidPropertyValue*/
    width: extend-to-zoom; /* this is to ensure it shows correctly in both landscape and portrait mode */
}

body {
    padding: 0; /* don't let the browser try to be fancy */
    margin: 0;  /* don't let the browser try to be fancy */
    box-sizing: border-box; /* div width, height, border and padding included. margin not */
    word-wrap: break-word;  /* break words to avoid text going outside of div */
}

/* Obsessive compulsive behaviour: Nobody touch the borders! */
.page {
    display: inline-block;  /* because child elements float, we that the parent .page takes them into account */
    margin-top: calc(1.5rem + 1%);
    margin-bottom: calc(1.5rem + 1%);
    margin-left: calc(1rem + 2%);
    margin-right: calc(1rem + 2%);
    width: calc(100% - 4% - 3rem);
    line-height: 1.3rem;
    /* margin-top: calc(2rem + 1%);
    margin-bottom: calc(1.5rem + 1%);
    margin-left: calc(-5rem + 25%);
    margin-right: calc(-5rem + 25%);
    width: calc(100% - 50% + 10rem);
    line-height: 1.4rem; */
}

/* MAIN STRUCTURE */
/* This is an ID because we only use it once and specifically*/
#header {
    width: 100%;
    display: inline-block;
    margin-bottom: 1.3rem;
}

#navigation {
    width: 100%;
    display: inline-block;
}
/* inside the header */
#title{
    float: left;
    font-size: 1.3rem;
}

#meta{
    float: right;
}

.entries{
    float: left;
    display: inline-block;  /* because child elements float, we that the parent .page takes them into account */
    width: 100%;
}

/* ENTRIES */
.entry{
    float: left;
    margin-bottom: 1.3rem;
    width: 100%;
}

.entry_title{
    font-weight: bold;
}

.entry_body{
}

.entry_category{
    color: grey;
}

.entry_footer{
    margin-top: 1.3rem;
    color: grey;
}

.category{
}

/* FORMS */
.form_title{
    float: left;
    width: 100%;
}

.form_field{
    float: left;
    width: 100%;
}

.form_input{
    width: 100%;
    font-size: 1.05rem;
}

.form_input_big{
    width: 100%;
    height: 30rem;
    font-size: 1.05rem;
}

.form_button{
    display: block;
}
/* TEXT */

/* Make lists not behave weirdly */
code{
  padding: 2px 4px;
  /* font-size: 90%; */
  /* color: #c7254e; */
  background-color: #eee;
  border-radius: 4px;
}

blockquote{
  padding: 0px 10px;
  margin: 0 25px 0px;
  border-left: 5px solid #eee;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
}

#title a {
    color: rgb(38, 38, 38);
}

a:link {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    text-decoration: underline;
    color: blue;
}

.flash{
    color: red;
}

/* Default behaviour is mobile */
/*@media (min-width: 63em) {
    .en {
        width: calc(48% - 15px);
        margin-right: calc(15px + 2%);
        margin-bottom: 0px;
    }

    .pt {
        width: calc(48% - 15px);
        margin-left: calc(15px + 2%);
    }
}*/
