{% extends "layout.html" %}
{% block body %}
    <div class="column" id="entries">
        <div class="entry">
            <div class="en">
                <div class="entry_title">{{ category.title_en }}</div>
                <div class="entry_body">
                    <ul>
                        {% for entry in category.entries %}
                            <li>
                                <a href=/entries/{{ entry.id}}>{{ entry.title_en }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="pt">
                <div class="entry_title">{{ category.title_pt }}</div>
                <div class="entry_body">
                    <ul>
                        {% for entry in category.entries %}
                            <li>
                                <a href=/entries/{{ entry.id}}>{{ entry.title_pt }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="entry_footer">
                {% if session.logged_in %}<a href=/categories/{{category.id}}/edit>edit</a>{% endif %}
            </div>
        </div>
    </div>
{% endblock %}
