{% extends "layout.html" %}
{% block body %}
    <div class="entries">
        {% for category in categories %}
            <div class="entry">
                <div class="entry_title">{{ category.title }}{% if session.logged_in %} (<a href=/categories/{{category.id}}/edit>edit</a>){% endif %}</div>
                <div class="entry_body">
                    <ul>
                        {% for entry in category.entries %}
                            <li>
                                <a href=/entries/{{ entry.id }}>{{ entry.title }}</a>
                                {% if (current_time - entry.date_created).days <=30 %}
                                    {% if request.cookies.lang == 'pt' %} Novo {% else %} New {% endif %}
                                {% endif %}
                                {% if (current_time - entry.date_updated).days <=30 and ( entry.date_updated > entry.date_created ) %}
                                    {% if request.cookies.lang == 'pt' %} Atualizado {% else %} Updated {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="entry">
                <div class="entry_title">Nothing to show here</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
