{% extends "layout.html" %}
{% block body %}
    <div class="entries">
        <div class="entry">
            <div class="entry_title"><a href=/categories/{{ category.id }}>{{ category.title }}</a>{% if session.logged_in %} <a href=/categories/{{category.id}}/edit>edit</a>{% endif %}</div>
            <div class="entry_body">
                <ul>
                    {% for entry in category.entries %}
                        <li>
                            <a href=/entries/{{ entry.id}}>{{ entry.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
