<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<body>
    <div id="header">Cabeçalho da piçaa</div>
    <div class="column" id="entries">
        <div class="entry">
            <div class="en">INGLES 1</div>
            <div class="pt">TUGA 1</div>
        </div>
        <div class="entry">
            <div class="en">INGLES 2</div>
            <div class="pt">TUGA 2</div>
        </div>
        <div class="entry">
            <div class="en">INGLES 3</div>
            <div class="pt">TUGA 4</div>
        </div>
    </div>
    <div class="column" id="navigation">navigationnn</div>
</body>
</html>