{% extends "layout.html" %}
{% block body %}
    <div class="entries">
        {% for entry in entries %}
            <div class="entry">
                <div class="entry_title"><a href=/entries/{{ entry.id }}>{{ entry.title_en }}</a></div>
                <div class="entry_body">{{ entry.text_en|safe }}</div>
                <div class="entry_category"><a href=/categories/{{ entry.category_id }}>{{ entry.category.title_en }}</a></div>
                <div class="entry_footer">Created on {{ entry.date_created.strftime('%d %b %Y') }}. Updated on {{ entry.date_updated.strftime('%d %b %Y') }} {% if session.logged_in %} <a href=/entries/{{entry.id}}/edit>Edit</a>{% endif %}</div>
            </div>
        {% else %}
            <div class="entry">
                <div class="entry_title">Nothing to show here</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
