{% extends "layout.html" %}
{% block body %}
    <div class="column" id="entries">
        {% for entry in entries %}
            <div class="entry">
                <div class="en">
                    <div class="entry_title">{{ entry.title_en }}</div>
                    <div class="entry_body">{{ entry.text_en|safe }}</div>
                </div>
                <div class="pt">
                    <div class="entry_title">{{ entry.title_pt }}</div>
                    <div class="entry_body">{{ entry.text_pt|safe }}</div>
                </div>
    <li>{{ entry.date_created }}{{ entry.date_updated }}
    {% if session.logged_in %} <small><a href=/entries/{{entry.id}}/edit>edit</a></small> {% endif %}
  </div>
        {% else %}
    <li><em>Nothing to show here</em>
  {% endfor %}
    </div>
{% endblock %}
