{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <div class="column" id="entries">
            <form action="{{ url_for('update_entry') }}" method=post class=add-entry>
                <input type=hidden name="id" value="{{ entry.id }}">
                <div class="entry">
                    <div class="en">
                        <div class="entry_title">Title <input type=text name="title_en" size=30 value="{{entry.title_en}}"></div>
                        <div class="entry_body">Text <textarea name="text_en" rows=5 cols=40>{{entry.text_en}}</textarea></div>
                        <div class="entry_category">Category <select name="category_id"><option value="NULL"></option>{% for category in categories %}<option {% if entry.category_id == category.id %} {{ "selected" }} {% endif%} } value="{{ category.id }}">{{ category.title_en }} | {{ category.title_pt }}</option>{% endfor %}</select></div>
                    </div>
                    <div class="pt">
                        <div class="entry_title">Título <input type=text name="title_pt" size=30 value="{{entry.title_pt}}"></div>
                        <div class="entry_body">Texto <textarea name="text_pt" rows=5 cols=40>{{entry.text_pt}}</textarea></div>
                        <div class="entry_category">Categoria</div>
                    </div>
                    <div class="entry_footer">
                        Date created <input type=date name="date_created" value="{{entry.date_created}}"> - Date updated <input type=date name="date_updated" value="{{current_time}}">
                    </div>
                </div>
                <input type=submit value=Save>
            </form>
            <form action="{{ url_for('delete_entry') }}" method=post class=add-entry>
                <input type=hidden name="id" value="{{ entry.id }}">
                <input type=submit value=Delete>
            </form>
        </div>
    {% else %}
        <h1>403 Forbidden</h1>
    {% endif %}
{% endblock %}