{% extends "layout.html" %}
{% block index %}
    {% for category in categories %}
        <div class="entry">
            <div class="category">{{ category.title }}{% if session.logged_in %} (<a href=/categories/{{category.id}}/edit>edit</a>){% endif %}</div>
            <div class="entry_body">
                <ul>
                    {% for entry in category.entries|sort(attribute='title') %}
                        <li>
                            <a href=/entries/{{ entry.id }}>{{ entry.title }}</a>
                            {% if (current_time - entry.date_created).days <=30 %} <span class="new">New</span> {% endif %}
                            {% if (current_time - entry.date_updated).days <=30 and ( entry.date_updated > entry.date_created ) %} <span class="update">Update</span> {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="entry">
        <div class="entry_title">Welcome{% if session.logged_in %} (<a href=/entries/{{entry.id}}/edit>edit</a>){% endif %}</div>
        <div class="entry_body">try try try</div>
        <div class="entry_footer"></div>
    </div>
{% endblock %}
